.api{
  position: absolute;
  top: 80px;
  left: 450px;
  width: 700px;
}
.streaming-api{
  font-weight: bolder;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.8);
}
.get-movie{
  margin-top: 20px;
  background: #191c20;
  width: 100%;
  height: 400px;
  border-radius: 7px;
  padding: 20px;
}
.get-moviep{
  background: #25282c;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  height: 30px;
  padding-top: 4px;
  padding-left: 10px;
}
.title-text4 {
  background: #111417;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
  padding-left: 80px;
  margin-top: 600px;
}
.imdb{
  display: flex;
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.7);
}
.imdb i{
  background: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  width: 25px;
  height: 20px;
  border-radius: 3px;
  text-align: center;
  padding-top: 1.5px;
  color: black;
  margin-right: 10px;
}
.imdb p{
  padding-top: 1.5px;
}